html, body, .container-fluid {
	height: 100%; }

#titlerow {
	height: 20%;
	/*border: 2px solid green;*/
}

#inforow {
	height: 80%;
	/*border: 2px solid red;*/
}

body { font: 12px Arial;}

h1,p{
	font-family: Arial, Helvetica, sans-serif;
}

/*#plot-container, #map-container {
    border: 1px solid black;
}*/

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
