html, body, .container-fluid {
	height: 100%; }

#titlerow {
	height: 20%;
}

#inforow {
	height: 80%;
}

#pdesc {
	width:50%;
}

body { font: 12px Arial;}

h1,p{
	font-family: Arial, Helvetica, sans-serif;
}



path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
